<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container">
    <%= link_to "Fotos", root_path, class:"navbar-brand" %>
     <% if current_tuser && current_tuser.admin? %>
    <%= link_to "Nuevo Puesto", new_photo_path, class: "nav-link" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav me-auto">
        </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <% if kuser_signed_in? %> Hola <%= current_kuser.email %>
            <% else %>
                      REGISTRATE!
                      <% end %>
          </a>
          <ul class="dropdown-menu">
            <% if kuser_signed_in? %>
                <li><%= button_to "Cerrar Sesión", destroy_kuser_session_path, class:"dropdown-item", method: :delete %></li>
            <% else %>
                <li><%= link_to "Iniciar Sesión", new_kuser_session_path, class:"dropdown-item" %></li>
                <li><%= link_to "Registro", new_kuser_registration_path, class:"dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>