
<h1 class="titulo-foto"><%= @photo.title %></h1>
<!-- <p><%= @photo.description %></p> -->

<%= image_tag rails_blob_path(@photo.image), class:"imagen container" %>

<% @comments.each do |comment| %>
  <div class="comment-container">
    <div class="avatar-container">
      <% if comment.kuser.avatar.attached? %>
        <%= image_tag comment.kuser.avatar, class: "avatar" %>
      <% else %>
        <%= image_tag "default_avatar.png", class: "avatar" %>
      <% end %>
    </div>
    <div class="comment-content">
      <p>
        <strong><%= comment.kuser.email %>:</strong> <%= comment.content %>
      </p>
    </div>
  </div>
<% end %>

<%= render 'comments/form' %>