
<h1 class="titulo-foto"><%= @photo.title %></h1>
<!-- <p><%= @photo.description %></p> -->

<%= image_tag rails_blob_path(@photo.image), class:"imagen container" %>

<% @kcomments.each do |kcomment| %>
  <div class="comment-container">
    <div class="avatar-container">
      <% if kcomment.kuser.avatar.attached? %>
        <%= image_tag kcomment.kuser.avatar, class: "avatar" %>
      <% else %>
        <%= image_tag "default_avatar.png", class: "avatar" %>
      <% end %>
    </div>
    <div class="comment-content">
      <p>
        <strong><%= kcomment.kuser.email %>:</strong> <%= kcomment.content %>
      </p>
    </div>
  </div>
<% end %>

<%= render 'kcomments/form', kcomment: @kcomment %>